body{
    background-color:  rgb(200,162,200);
}
.mural{
    background-color: rgb(105, 126, 47);
    padding-top: 5%;
    padding-bottom: 40%;
    border-radius: 15%;
}
.mural h1, h2{
    text-align: center;
}

.favoritos{
    background-color: rgb(51, 92, 204);
    padding-top: 5%;
    padding-bottom: 40%;
    border-radius: 15%;
}
.favoritos h1, h2{
    text-align: center;
}
.gif{
    text-align: center;
    padding-top: 5%;
}
.gif2{
    text-align: center;
    padding-top: 5%;
}

